.advantages {
  @media (max-width: $mobile-only) {
    padding-top: 33px;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    padding-top: 65px;
  }

  @media (min-width: $desktop) {
    padding-top: 81px;
  }
}

.advantages__wrapper {
  @media (min-width: $desktop) {
    position: relative;
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;

    @media (max-width: $tablet-only) {
      left: 0;
      width: 100%;
    }

    @media (max-width: $mobile-only) {
      height: 6px;
      transform: translateY(-32px);
      background-size: 320px auto;
      background-position: -10px 0;
    }

    @media (min-width: $tablet) and (max-width: $tablet-only) {
      height: 15px;
      transform: translateY(-65px);
      background-size: 771px auto;
      background-position: 17px 0;
    }

    @media (min-width: $desktop) {
      left: $side-paddings-desktop;
      width: calc(100% - #{$side-paddings-desktop} * 2);
      height: 23px;
      transform: translateY(-81px);
      background-size: 1050px auto;
      background-position: 26px 0;
    }
  }
}

.advantages__inner {
  @media (min-width: $desktop) {
    padding-left: $desktop-column-width;
    padding-right: $desktop-column-width;
  }
}

.advantages__title {
  @media (max-width: $mobile-only) {
    margin: 0 0 28px 0;
  }

  @media (min-width: $tablet) {
    margin: 0 0 47px 0;
  }
}

.advantages__list {
  padding: 0;
  list-style: none;

  @media (max-width: $mobile-only) {
    margin: 0;
  }

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -54px 0 0;
  }
}

.advantages__item {
  display: block;
  color: #000000;
  font-weight: 700;
  word-break: break-word;

  @media (max-width: $mobile-only) {
    font-size: 17px;
    line-height: 20px;
  }

  @media (min-width: $tablet) {
    width: 50%;
    margin-top: 54px;
    padding-right: 40px;
    font-size: 20px;
    line-height: 22px;
  }
}

.advantages__item:not(:last-child) {
  @media (max-width: $mobile-only) {
    margin-bottom: 26px;
  }
}

.advantages__icon-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 55px;
  height: 37px;
  margin-bottom: 20px;
}


.advantages__icon {
  position: relative;
  display: block;
  fill: $color-primary;
}

.advantages__item--eco .advantages__icon {
  left: -3px;
  top: 2px;
}

.advantages__item--style .advantages__icon {
  left: -3px;
  top: -6px;
}

.advantages__item--like .advantages__icon {
  left: -3px;
  top: -1px;
}

.advantages__item--love .advantages__icon {
  left: -7px;
  top: 3px;
}

.advantages__item--homeland .advantages__icon {
  left: -6px;
  top: -7px;
}

.advantages__item--gift .advantages__icon {
  left: -8px;
}

@media (min-width: $tablet) {
  .advantages__item--eco {
    order: 0;
  }

  .advantages__item--style {
    order: 2;
  }

  .advantages__item--like {
    order: 4;
  }

  .advantages__item--love {
    order: 1;
  }

  .advantages__item--homeland {
    order: 3;
  }

  .advantages__item--gift {
    order: 5;
  }
}
