.advantages {
  padding-top: 32px;
  padding-bottom: 32px;
}

.advantages__inner {
  @media (min-width: $desktop) {
    padding-left: $desktop-column-width;
    padding-right: $desktop-column-width;
  }
}

.advantages__title {
  margin: 0;
  padding-bottom: 5px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__item {
  display: block;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;

  @media (min-width: $tablet) {
    width: 50%;
    padding-right: 50px;
  }
}

.advantages__icon-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 60px;
  height: 80px;
  margin-top: 5px;
}


.advantages__icon {
  display: block;
  fill: $color-primary;
}

@media (min-width: $tablet) {
  .advantages__item--eco {
    order: 0;
  }

  .advantages__item--style {
    order: 2;
  }

  .advantages__item--like {
    order: 4;
  }

  .advantages__item--love {
    order: 1;
  }

  .advantages__item--homeland {
    order: 3;
  }

  .advantages__item--gift {
    order: 5;
  }
}
