.button {
  display: inline-block;
  vertical-align: middle;
  appearance: button;
  font: inherit;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  overflow: visible;
  word-break: break-word;
  background: 0;
  border: none;
  cursor: pointer;
}

.button--primary {
  padding: 14px;
  line-height: 20px;
  font-weight: 700;
  color: $controls-color;
  text-transform: uppercase;
  border: 2px solid $controls-color;
  outline: none;

  @media (max-width: $mobile-only) {
    font-size: 18px;
  }

  @media (min-width: $tablet) {
    font-size: 17px;
  }
}

.button--primary:hover:not(:disabled),
.button--primary:focus:not(:disabled) {
  color: #ffffff;
  background-color: $controls-color;
  border-color: $controls-color;
}

.button--primary:active:not(:disabled) {
  color: rgba(255, 255, 255, 0.3);
}

.button--call2action {
  padding: 20px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: $color-primary;
  outline: none;
}

.button--call2action:hover:not(:disabled),
.button--call2action:focus:not(:disabled) {
  background-color: $color-primary2;
}

.button--arrow {
  padding: 12px;
  outline: none;

  @media (max-width: $mobile-only) {
    border: 1px solid $border-color;
  }
}

.button__icon--arrow {
  display: block;
  margin: 0 auto;
}

.button--arrow:hover:not(:disabled) .button__icon--arrow,
.button--arrow:focus:not(:disabled) .button__icon--arrow {
  opacity: 0.6;
}

.button--arrow:active .button__icon--arrow {
  opacity: 0.3;
}

.button:disabled {
  cursor: default;
  opacity: 0.5;
}
