.contacts {
  position: relative;

  @media (max-width: $mobile-only) {
    padding-top: 40px;
    padding-bottom: 128px;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    padding-top: 62px;
    padding-bottom: 164px;
  }

  @media (min-width: $desktop) {
    display: flex;
    max-width: $desktop-max-width;
    margin-left: auto;
    margin-right: auto;
    padding: 93px $side-paddings-desktop 105px;
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;

    @media (max-width: $tablet-only) {
      left: 0;
      width: 100%;
    }

    @media (max-width: $mobile-only) {
      height: 6px;
      transform: translateY(-40px);
      background-size: 320px auto;
      background-position: -10px 0;
    }

    @media (min-width: $tablet) and (max-width: $tablet-only) {
      height: 15px;
      transform: translateY(-62px);
      background-size: 771px auto;
      background-position: 17px 0;
    }

    @media (min-width: $desktop) {
      left: $side-paddings-desktop;
      width: calc(100% - #{$side-paddings-desktop} * 2);
      height: 23px;
      transform: translateY(-93px);
      background-size: 1050px auto;
      background-position: 26px 0;
    }
  }
}

.contacts__main {
  @media (max-width: $mobile-only) {
    max-width: $mobile-max-width;
    margin: 0 auto 37px;
    padding-left: $side-paddings-mobile;
    padding-right: $side-paddings-mobile;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    max-width: $tablet-max-width;
    margin: 0 auto 56px;
    padding-left: $side-paddings-tablet;
    padding-right: $side-paddings-tablet;
  }

  @media (min-width: $desktop) {
    position: relative;
    display: flex;
    flex-direction: column;
    width: $desktop-column-width * 3;
    padding-top: 70px;
    padding-left: $desktop-column-width;
    padding-right: 26px;
  }
}

.contacts__header {
  @media (max-width: $mobile-only) {
    margin: 0 0 26px 0;
  }

  @media (min-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    margin: 0 0 34px 0;
  }

  @media (min-width: $desktop) {
    margin: 0 0 49px 0;
  }
}

.contacts__header-icon {
  @media (min-width: $tablet) and (max-width: $tablet-only) {
    flex-shrink: 0;
  }

  @media (max-width: $mobile-only) {
    display: none;
  }

  @media (min-width: $desktop) {
    position: absolute;
    left: $desktop-column-width;
    transform: translateX(-50%);
  }
}

.contacts__title {
  margin: 0;
  transform: translateX(-0.1em);
  font-weight: 700;
  color: $title-color;
  font-size: 18px;
  line-height: 30px;
  word-break: break-word;

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop) {
    font-size: 53px;
    line-height: 57px;
  }
}

.contacts__list {
  padding: 0;
  list-style: none;
  line-height: 30px;

  @media (max-width: $mobile-only) {
    font-size: 15px;
  }

  @media (max-width: $tablet-only) {
    margin: 0;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $tablet) {
    font-size: 17px;
  }

  @media (min-width: $desktop) {
    margin: 0 0 30px 0;
  }
}

.contacts__list-row {
  display: flex;

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    width: 50%;
  }
}

.contacts__list-row:not(:last-child) {
  @media (max-width: $mobile-only) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 30px;
  }
}

.contacts__term {
  width: 78px;
  flex-shrink: 0;
}

.contacts__map {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  height: 457px;
  overflow: hidden;

  @media (min-width: $desktop) {
    width: $desktop-column-width * 3;
  }
}

.contacts__map-frame {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 100%;
  border: 0;
}

.contacts__map-container {
  position: absolute;
  z-index: 0;
  top: 0;

  &::after {
    content: "";
    position: absolute;
    width: 67px;
    height: 100px;
    background-image: url("../img/icon-map-pin.svg");
    background-repeat: no-repeat;

    @media (max-width: $mobile-only) {
      top: 143px;
      left: 139px;
    }

    @media (min-width: $tablet) and (max-width: $tablet-only) {
      top: 139px;
      left: 364px;
    }

    @media (min-width: $desktop) {
      top: 146px;
      left: 239px;
    }
  }
}

.contacts__map-image {
  display: block;
  margin: 0 auto;
  border: 0;
}

.contacts__button {
  @media (max-width: $tablet-only) {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (max-width: $mobile-only) {
    bottom: 39px;
    width: calc(100% - #{$side-paddings-mobile * 2});
    max-width: $mobile-max-width;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    bottom: 57px;
  }

  @media (min-width: $tablet) {
    width: 230px;
  }

  @media (min-width: $desktop) {
    margin-top: auto;
  }
}
