.contacts {
  position: relative;
  padding-top: 32px;
  padding-bottom: 130px;

  @media (min-width: $desktop) {
    display: flex;
    max-width: $desktop-max-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: $side-paddings-desktop;
    padding-right: $side-paddings-desktop;
  }
}

.contacts__main {
  @include media-breakpoint-only(mobile) {
    max-width: $mobile-max-width;
    margin: 0 auto 42px;
    padding-left: $side-paddings-mobile;
    padding-right: $side-paddings-mobile;
  }

  @include media-breakpoint-only(tablet) {
    max-width: $tablet-max-width;
    margin: 0 auto 61px;
    padding-left: $side-paddings-tablet;
    padding-right: $side-paddings-tablet;
  }

  @media (min-width: $desktop) {
    position: relative;
    display: flex;
    flex-direction: column;
    width: $desktop-column-width * 3;
    padding-top: 74px;
    padding-left: $desktop-column-width;
    padding-right: 26px;
  }
}

.contacts__header {
  @include media-breakpoint-only(mobile) {
    margin: 0 0 42px 0;
  }

  @media (min-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 65px 0;
  }
}

.contacts__header-icon {
  @media (max-width: $mobile-only) {
    display: none;
  }

  @media (min-width: $desktop) {
    position: absolute;
    left: $desktop-column-width;
    transform: translateX(-50%);
  }
}

.contacts__title {
  margin: 0;
  font-weight: 700;
  color: $title-color;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: $tablet) {
    font-size: 53px;
    line-height: 57px;
  }
}

.contacts__list {
  padding: 0;
  list-style: none;

  @include media-breakpoint-down(tablet) {
    margin: 0;
  }

  @include media-breakpoint-only(tablet) {
    display: flex;
  }

  @include media-breakpoint-up(desktop) {
    margin: 0 0 30px 0;
  }
}

.contacts__list-row {
  display: flex;
}

.contacts__list-row + .contacts__list-row {
  @include media-breakpoint-only(mobile) {
    margin-top: 30px;
  }

  @include media-breakpoint-only(tablet) {
    margin-left: 55px;
  }

  @include media-breakpoint-only(desktop) {
    margin-top: 60px;
  }
}

.contacts__term {
  margin-right: 30px;
  flex-shrink: 0;
}

.contacts__map {
  position: relative;
  height: 457px;
  overflow: hidden;

  @media (min-width: $desktop) {
    width: $desktop-column-width * 3;
  }
}

.contacts__map-frame {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 100%;
  border: 0;
}

.contacts__map-image {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border: 0;
}

.contacts__button {
  @include media-breakpoint-down(tablet) {
    position: absolute;
    z-index: 1;
    bottom: 39px;
    left: 50%;
    transform: translateX(-50%);
  }

  @include media-breakpoint-only(mobile) {
    width: calc(100% - #{$side-paddings-mobile * 2});
    max-width: $mobile-max-width;
  }

  @media (min-width: $tablet) {
    width: 230px;
  }

  @media (min-width: $desktop) {
    margin-top: auto;
  }
}
