.footer {
  background-color: #f1f1f1;

  @media (min-width: $tablet) {
    display: flex;
    align-items: center;
    min-height: 143px;
  }
}

.footer__wrapper {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.footer__logo {
  @media (max-width: $mobile-only) {
    display: none;
  }
}

.footer__copyright {
  @media (max-width: $mobile-only) {
    border-top: 1px solid $border-color;
  }
}
