.form-order {
  padding-bottom: 36px;

  @include media-breakpoint-only(mobile) {
    padding-top: 30px;
  }
}

.form-order__entry-text {
  margin: 0 0 10px;
}

.form-order__container {
  @include media-breakpoint-only(mobile) {
    padding-top: 17px;
    padding-bottom: 17px;
  }

  @include media-breakpoint-up(tablet) {
    padding-top: 50px;
    padding-bottom: 50px;

    &:nth-child(even) {
      background-color: #f1f1f1;
    }
  }
}

.form-order__group {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
}

.form-order__title {
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-primary;

  @media (max-width: $mobile-only) {
    display: flex;
    align-items: center;
    width: 100%;

    &::after {
      content: "";
      width: 50px;
      height: 1px;
      flex-grow: 1;
      margin-left: 26px;
      background-color: $color-primary;
    }
  }
}

.form-order__title-positioner {

  @include media-breakpoint-only(mobile) {
    margin-bottom: 20px;
  }

  @media (min-width: $tablet) {
    position: absolute;
    top: 14px;
    left: 0;
    max-width: $tablet-column-width;
  }
}

.form-order__title-unflow {
  @media (min-width: $tablet) {
    position: absolute;
  }
}

.form-order__field-column {
  @media (min-width: $tablet) {
    width: 100%;
    padding-left: $tablet-column-width;
  }
}

.form-order__list {
  padding: 0;
  list-style: none;

  @media (max-width: $mobile-only) {
    margin: -10px 0 0;
  }

  @media (min-width: $tablet) {
    margin: -24px 0 0 -24px;
  }
}


.form-order__list--responsive {
  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.form-order__item {
  min-height: 52px;

  @media (max-width: $mobile-only) {
    margin-top: 10px;
  }

  @media (min-width: $tablet) {
    margin-top: 24px;
    margin-left: 24px;
  }
}

.form-order__list--responsive .form-order__item {
  @media (min-width: $tablet) {
    flex-basis: 33%;
    flex-grow: 1;
  }
}

.form-order__text-input {
  @media (min-width: $tablet) {
    display: flex;
    align-items: center;
  }
}

.form-order__text-area {
  @media (max-width: $mobile-only) {
    margin-top: 23px;
  }
}

.form-order__footer {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.form-order__footnote {
  font-size: 14px;
  line-height: 16px;
}

.form-order__button {
  @media (max-width: $mobile-only) {
    width: 100%;
    margin-top: 31px;
  }

  @media (min-width: $tablet) {
    order: -1;
  }
}
