.form-order {
  @media (max-width: $mobile-only) {
    padding-bottom: 56px;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    padding-bottom: 50px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 50px;
  }
}

.form-order__entry {
  @media (max-width: $mobile-only) {
    margin-bottom: 10px;
  }

  @media (min-width: $tablet) {
    margin-bottom: 5px;
  }
}

.form-order__entry-inner {
  @media (min-width: $desktop) {
    padding-left: $desktop-column-width;
    padding-right: $desktop-column-width;
  }
}

.form-order__entry-text {
  margin: 0;

  @media (max-width: $mobile-only) {
    font-size: 13px;
  }

  @media (min-width: $tablet) {
    font-size: 17px;
    line-height: 30px;
  }
}

.form-order__container {
  @media (max-width: $mobile-only) {
    padding-top: 10px;
    padding-bottom: 16px;
  }

  @media (min-width: $tablet) {
    padding-top: 50px;
    padding-bottom: 50px;

    &:nth-child(even) {
      background-color: #f1f1f1;
    }
  }
}

.form-order__fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.form-order__flex-container {
  @media (min-width: $tablet) {
    display: flex;
  }
}

.form-order__title {
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-primary;
  word-break: break-word;

  @media (max-width: $mobile-only) {
    display: flex;
    align-items: center;
    width: 100%;

    &::after {
      content: "";
      width: 50px;
      height: 1px;
      flex-grow: 1;
      margin-left: 20px;
      background-color: $color-primary;
    }
  }
}

.form-order__title-positioner {
  @media (max-width: $mobile-only) {
    margin-bottom: 21px;
  }

  @media (min-width: $tablet) {
    flex-shrink: 0;
    margin-top: 14px;
    padding-right: 10px;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    flex-basis: $tablet-column-width;
  }

  @media (min-width: $desktop) {
    flex-basis: $desktop-column-width;
    padding-left: 64px;
  }
}

.form-order__text-input .form-order__title-positioner {
  @media (max-width: $mobile-only) {
    margin-bottom: 9px;
  }

  @media (min-width: $tablet) {
    margin-top: 0;
  }
}

.form-order__title-unflow {
  @media (max-width: $mobile-only) {
    margin-bottom: 8px;
  }

  @media (min-width: $tablet) {
    position: absolute;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    max-width: $tablet-column-width;
  }

  @media (min-width: $desktop) {
    width: $desktop-column-width;
    text-align: center;
  }
}

.form-order__field-column {
  @media (min-width: $tablet) {
    flex-grow: 1;
  }

  @media (min-width: $desktop) {
    padding-right: $desktop-column-width;
  }
}

.form-order__field-column--wider {
  @media (min-width: $desktop) {
    padding-right: $desktop-column-width / 2;
  }
}

.form-order__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;

  @media (max-width: $mobile-only) {
    margin: -22px 0 0;
  }

  @media (min-width: $tablet) {
    margin: -24px 0 0 -24px;
  }
}

.form-order__list--responsive {
  @media (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.form-order__item {
  word-break: break-word;

  @media (max-width: $mobile-only) {
    margin-top: 22px;
  }

  @media (min-width: $tablet) {
    margin-top: 24px;
    margin-left: 24px;
  }
}

.form-order__list--responsive .form-order__item {
  @media (min-width: $tablet) and (max-width: $tablet-only) {
    flex-basis: calc((100% /2) - 24px);
  }

  @media (min-width: $desktop) {
    flex-basis: 30.2%;
  }
}

.form-order__text-input {
  display: flex;

  @media (max-width: $mobile-only) {
    flex-direction: column;
  }

  @media (min-width: $tablet) {
    align-items: center;
    flex-wrap: wrap;
  }
}

.form-order__text-area {
  display: flex;

  @media (max-width: $tablet-only) {
    height: 142px;
  }

  @media (min-width: $desktop) {
    height: 140px;
  }
}

.form-order__footer-inner {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop) {
    padding-left: $desktop-column-width;
    padding-right: $desktop-column-width;
  }
}

.form-order__footnote {
  @media (max-width: $mobile-only) {
    font-size: 14px;
    line-height: 16px;
  }

  @media (min-width: $tablet) {
    margin-left: 50px;
    font-size: 17px;
    line-height: 30px;
    text-align: right;
  }
}

.form-order__button {
  @media (max-width: $mobile-only) {
    width: 100%;
    margin-top: 23px;
  }

  @media (min-width: $tablet) {
    order: -1;
    min-width: 230px;
  }
}
