.main {
  position: relative;
}

.main__header {
  padding-bottom: 30px;
  background-color: #f1f1f1;

  @media (max-width: $mobile-only) {
    min-height: 176px;
    margin-bottom: 30px;
    padding-top: 70px;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    min-height: 166px;
    margin-bottom: 79px;
  }

  @media (min-width: $tablet) {
    position: relative;
    padding-top: 35px;
  }

  @media (min-width: $desktop) {
    min-height: 196px;
    margin-bottom: 127px;
  }

  &::before {
    @media (min-width: $tablet) {
      content: "";
      position: absolute;
      z-index: 1;
      left: 0;
      bottom: 0;
      width: 100%;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-position: 50% 16px;
    }

    @media (min-width: $tablet) and (max-width: $tablet-only) {
      height: 28px;
      background-size: 770px auto;
    }

    @media (min-width: $desktop) {
      height: 34px;
      background-size: 1150px auto;
    }
  }
}

.main__header--cute-stuff {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0;
  background-color: #f9f9f9;
  background-position: center bottom;
  background-repeat: no-repeat;

  @media (max-width: $mobile-only) {
    min-height: 488px;
    margin-bottom: 27px;
    background-image: url("../img/hero-mobile@1x.jpg");
    background-position: center top -18px;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-mobile@2x.jpg");
      background-size: 574px auto;
    }
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    margin-bottom: 45px;
    background-image: url("../img/hero-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1150px auto;
    }
  }

  @media (min-width: $tablet) {
    padding-top: 94px;
    min-height: 686px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 71px;
    background-image: url("../img/hero-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: 1150px auto;
    }
  }

  &::before {
    @media (min-width: $desktop) {
      background-size: 1250px auto;
    }
  }
}

.main__header-wrapper {
  margin-bottom: 100px;
}

.main__header--form {
  @media (max-width: $mobile-only) {
    margin-bottom: 22px;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    margin-bottom: 72px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 120px;
  }
}

.main__title {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.main__promo-product {
  @media (max-width: $mobile-only) {
    margin-bottom: 35px;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    margin-bottom: 59px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 74px;
  }
}

.main__video {
  @media (max-width: $mobile-only) {
    margin-bottom: 57px;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    margin-bottom: 75px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 105px;
  }
}

.main__advantages {
  @media (max-width: $mobile-only) {
    margin-bottom: 33px;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    margin-bottom: 82px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 89px;
  }
}

.main__reviews {
  @media (min-width: $tablet) {
    margin-bottom: 68px;
  }
}

.main__products {
  @media (max-width: $mobile-only) {
    margin-bottom: 31px;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    margin-bottom: 53px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 5px;
  }
}

.main__contacts {
  @media (max-width: $mobile-only) {
    // margin-bottom: 161px;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    // margin-bottom: 246px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 105px;
  }
}
