.main-nav {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet) {
    display: flex;
  }
}

.main-nav__link {
  position: relative;
  display: block;
  padding: 31px 16px 31px 76px;
  font-size: 17px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  border-top: 1px solid #ececec;

  @media (min-width: $tablet) {
    min-width: 84px;
    min-height: 89px;
    padding: 32px 0;
  }
}

.main-nav__search-caption {
  @media (min-width: $tablet) {
    display: none;
  }
}

.main-nav__icon {
  position: absolute;
  left: 32px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.2;
}

.main-nav__link:hover .main-nav__icon,
.main-nav__link:focus .main-nav__icon {
  fill: $color-primary;
  opacity: 1;
}

.main-nav__link:focus .main-nav__icon {
  opacity: 0.3;
}
