.mail-link {
  position: relative;
  z-index: 0;
  color: $text-color;
  text-decoration: none;

  @media (max-width: $mobile-only) {
    font-size: 15px;
  }

  @media (min-width: $tablet) {
    font-size: 17px;
  }
}

// Замена бокс-шэдоу. Так приемлемо?
.mail-link::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: $color-primary;
}

.mail-link:hover,
.mail-link:focus {
  color: $color-primary2;
}

.mail-link:hover::before,
.mail-link:focus::before {
  background-color: $color-primary2;
}

.mail-link:active {
  opacity: 0.3;
}
