.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @include media-breakpoint-up(tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -35px;
  }
}

.nav__item {
  @include media-breakpoint-up(tablet) {
    display: flex;
    padding-left: 35px;
  }

  @include media-breakpoint-up(desktop) {
    padding-right: 35px;

    &:first-child {
      border-right: 1px solid $border-color;
    }
  }
}
