.page-header {
  min-height: 79px;
  border-bottom: 1px solid #ececec;
}

.page-header__wrapper {
  position: relative;

  @media (max-width: $mobile-only) {
    padding-left: 0;
    padding-right: 0;
  }
}

.page-header__logo {
  margin: auto;

  @media (min-width: $tablet) {
    position: absolute;
  }
}

.page-header__toggle {
  @media (max-width: $mobile-only) {
    position: absolute;
    top: 0;
    right: 0;
    width: 79px;
    height: 79px;
    padding: 29px;
  }

  @media (min-width: $tablet) {
    display: none;
  }
}

.page-header__toggle--active .page-header__burger-icon {
  display: none;
}

.page-header__toggle--active .page-header__close-icon {
  display: block;
}

.page-header__close-icon {
  display: none;
}

@media (max-width: $mobile-only) {
  .page-header--closed .page-header__main-nav {
    display: none;
  }
}



.page-header__offer-text {
  display: none;
  margin: 0;
  font-size: 15px;

  @media (min-width: $tablet) {
    display: block;
  }
}
