.products__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.products__item {
  @media (max-width: $mobile-only) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    &:not(:last-child) {
      margin-bottom: 54px;
    }
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-basis: 316px;
    margin-bottom: 52px;
  }
}
