.products {
  padding-bottom: 30px;

  @include media-breakpoint-only(mobile) {
    padding-top: 30px;
  }

  @include media-breakpoint-only(tablet) {
    padding-top: 79px;
  }

  @include media-breakpoint-only(desktop) {
    padding-top: 127px;
  }
}

.products__list {
  display: flex;
  padding: 0;
  list-style: none;

  @include media-breakpoint-down(tablet) {
    flex-direction: column;
  }

  @include media-breakpoint-only(mobile) {
    margin: -30px 0 0 -30px;
  }

  @include media-breakpoint-only(tablet) {
    margin: -54px 0 0 -54px;
  }

  @media (min-width: $desktop) {
    margin: -52px 0 0 -52px;
  }
}

.products__item {
  @include media-breakpoint-only(mobile) {
    margin-top: 30px;
    margin-left: 30px;
  }

  @include media-breakpoint-only(tablet) {
    margin-top: 54px;
    margin-left: 54px;
  }

  @include media-breakpoint-up(desktop) {
    flex-basis: 300px;
    flex-grow: 1;
    margin-top: 52px;
    margin-left: 52px;
  }
}
