.promo-product {
  display: flex;
  padding-top: 32px;
  padding-bottom: 36px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-size: auto 6px;
  background-repeat: repeat-x;
  background-position: 0 100%;

  @include media-breakpoint-only(mobile) {
    flex-direction: column;
  }

  @media (min-width: $tablet) {
    flex-wrap: wrap;
  }

  @media (min-width: $desktop) {
    position: relative;
  }
}

.promo-product__header {
  @include media-breakpoint-only(mobile) {
    margin-bottom: 30px;
  }

  @include media-breakpoint-up(tablet) {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 55px;
  }

  @include media-breakpoint-only(tablet) {
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    position: relative;
    padding-top: 55px;
    padding-left: $desktop-column-width;
  }
}

.promo-product__title {
  margin: 0;
}

.promo-product__subtitle {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: $color-primary;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    flex-basis: 0;
    text-align: center;
  }

  @media (min-width: $desktop) {
    width: $desktop-column-width;
    position: absolute;
    left: 0;
  }
}

.promo-product__subtitle-wrap {
  @media (max-width: $mobile-only) {
    display: none;
  }
}

.promo-product__inner {
  @media (max-width: $mobile-only) {
    display: contents;
  }

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: $tablet-column-width * 2;
    flex-grow: 1;
    padding-right: 44px;
  }

  @media (min-width: $desktop) {
    flex-grow: 0;
    padding-left: $desktop-column-width;
  }
}

.promo-product__text {
  order: 1;
  margin: 0;
}

.promo-product__features {
  order: 2;
  margin-top: 24px;
}

.promo-product__list {
  margin: 0;
}

.promo-product__list-row {
  display: flex;
  padding: 12px 0;
  border-bottom: 1px solid $border-color;
}

.promo-product__term {
  width: 30%;
}

.promo-product__description {
  margin-left: 20px;
}

.promo-product__image-container {
  order: 3;

  @media (max-width: $mobile-only) {
    margin-top: 24px;
  }

  @media (min-width: $tablet) {
    flex-basis: $tablet-column-width * 2;
    flex-grow: 1;
  }

  @media (min-width: $desktop) {
    margin-top: -160px;
  }
}

.promo-product__price {
  order: 4;
  margin: 28px 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: $controls-color;
}

.promo-product__button {
  order: 5;
  width: 100%;
}
