.promo-catalog__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    max-width: $tablet-max-width;
    padding-left: $side-paddings-tablet;
    padding-right: $side-paddings-tablet;
  }

  @media (min-width: $desktop) {
    max-width: $desktop-max-width;
    padding-left: $side-paddings-desktop;
    padding-right: $side-paddings-desktop;
  }
}

.promo-catalog__item {
  display: block;

  @media (min-width: $tablet) {
    flex-basis: 300px;
    flex-grow: 1;
  }
}

.promo-catalog__link {
  display: block;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  background-color: $color-primary;
  outline: none;

  @media (max-width: $mobile-only) {
    font-size: 19px;
    line-height: 24px;
  }

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
  }
}

.promo-catalog__item--darker .promo-catalog__link {
  background-color: #56c3b2;
}

.promo-catalog__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 103px;
  transition: 0.15s;

  @media (max-width: $mobile-only) {
    max-width: $mobile-max-width;
    padding-left: $side-paddings-mobile;
    padding-right: $side-paddings-mobile;
    margin: 0 auto;
  }

  @media (min-width: $tablet) {
    padding: 28px 35px 29px 36px;
  }
}

.promo-catalog__icon-container {
  display: flex;
  width: 60px;
  height: 62px;

  @media (max-width: $mobile-only) {
    justify-content: center;
  }

  @media (min-width: $tablet) {
    justify-content: flex-end;
  }
}

.promo-catalog__link:active .promo-catalog__icon-container {
  opacity: 0.3;
}

.promo-catalog__icon {
  fill: #149080;
  opacity: 0.5;
}

.promo-catalog__link:hover .promo-catalog__inner {
  padding-bottom: 35px;
  margin-top: -5px;
}

.promo-catalog__link:hover .promo-catalog__icon,
.promo-catalog__link:focus .promo-catalog__icon {
  opacity: 0.7;
}
