.product-card {
  position: relative;
  display: flex;

  @media (max-width: $mobile-only) {
    flex-direction: column;
  }

  @media (min-width: $desktop) {
    flex-direction: column;
  }
}

.product-card:hover .product-card__info,
.product-card:focus-within .product-card__info {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.product-card:active .product-card__info {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.product-card__image-link {
  outline: none;

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    flex-shrink: 0;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    width: $tablet-column-width * 2;
  }
}

.product-card__image {
  display: block;
}

.product-card__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: 1px solid $border-color;

  @media (max-width: $mobile-only) {
    padding: 26px 26px 17px;
  }

  @media (min-width: $tablet) {
    padding: 26px 26px 15px;
  }
}

.product-card__info-inner {
  flex-grow: 1;
  border-bottom: 1px solid $border-color;

  @media (max-width: $mobile-only) {
    margin-bottom: 8px;
    padding-bottom: 19px;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    margin-bottom: 9px;
    padding-bottom: 19px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 10px;
    padding-bottom: 13px;
  }
}

.product-card__link {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  outline: none;
}

.product-card__title {
  margin: 0;
  font-weight: 700;
  color: #000000;
  word-break: break-word;

  @media (max-width: $mobile-only) {
    font-size: 17px;
  }

  @media (min-width: $tablet) {
    font-size: 20px;
  }
}

.product-card__features {
  line-height: 30px;
  word-break: break-word;

  @media (max-width: $mobile-only) {
    font-size: 13px;
  }

  @media (min-width: $tablet) {
    font-size: 15px;
  }

  @media (max-width: $tablet-only) {
    margin: 0;
  }

  @media (min-width: $desktop) {
    margin: 0;
  }
}

.product-card__offer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;

  @media (max-width: $mobile-only) {
    margin-right: -14px;
  }

  @media (min-width: $desktop) {
    margin-right: -8px;
  }
}

.product-card__price {
  color: #000000;
  word-break: break-word;

  @media (max-width: $mobile-only) {
    font-size: 15px;
  }

  @media (min-width: $tablet) {
    font-size: 17px;
  }
}

.product-card__button {
  padding: 14px;
  outline: none;
}

.product-card__cart-icon {
  display: block;
  opacity: 0.2;
}

.product-card__button:hover .product-card__cart-icon,
.product-card__button:focus .product-card__cart-icon {
  fill: $color-primary;
  opacity: 1;
}

.product-card__button:active .product-card__cart-icon {
  opacity: 0.3;
}
