.promo-video__inner {
  display: flex;

  @include media-breakpoint-down(tablet) {
    flex-direction: column;
  }

  @media (max-width: $mobile-only) {
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 33px;
    border: 1px solid $border-color;
  }

  @media (min-width: $desktop) {
    flex-wrap: wrap;
  }
}

.promo-video__inner:hover,
.promo-video__inner:focus-within {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.promo-video__inner:active {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.promo-video__image-container {
  position: relative;
  z-index: 0;

  @media (max-width: $mobile-only) {
    margin: 0 -34px 34px;
  }

  @media (min-width: $desktop) {
    width: 65%;
  }
}

.promo-video__button-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  transition: 0.15s;
  outline: none;
}

.promo-video__button-play:hover,
.promo-video__button-play:focus {
  transform: translate(-50%, -50%) scale(1.2);
}

.promo-video__button-play:active {
  transform: translate(-50%, -50%);
  opacity: 0.3;
}

.promo-video__description {
  padding: 0 34px 33px;
  border: 1px solid $border-color;

  @media (max-width: $mobile-only) {
    display: contents;
  }

  @media (min-width: $desktop) {
    width: 35%;
    padding-left: 60px;
    padding-right: 60px;
  }
}

.promo-video__header-container {
  display: flex;
  align-items: center;

  @media (max-width: $mobile-only) {
    order: -1;
    padding-top: 29px;
    padding-bottom: 26px;
  }

  @include media-breakpoint-only(tablet) {
    padding-top: 41px;
    padding-bottom: 39px;
  }

  @include media-breakpoint-up(desktop) {
    padding-top: 46px;
    padding-bottom: 40px;
  }
}

.promo-video__title {
  margin: 0;
  line-height: 24px;
  color: #000000;

  @include media-breakpoint-only(mobile) {
    font-size: 17px;
  }

  @include media-breakpoint-up(tablet) {
    font-size: 20px;
  }
}

.promo-video__header-icon {
  flex-shrink: 0;
  margin-right: 25px;
  fill: $color-primary;
}

.promo-video__text {
  font-size: 13px;

  @include media-breakpoint-only(mobile) {
    margin: 0 0 28px 0;
  }

  @include media-breakpoint-only(tablet) {
    margin: 0 0 40px 0;
  }

  @include media-breakpoint-only(desktop) {
    margin: 0 0 50px 0;
  }
}

.promo-video__button-order {
  width: 100%;
}
