.product-card {
  position: relative;
  display: flex;

  @include media-breakpoint-only(mobile) {
    flex-direction: column;
  }

  @include media-breakpoint-up(desktop) {
    flex-direction: column;
  }
}

.product-card:hover,
.product-card:focus-within {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.product-card:active {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.product-card__image-link {
  @include media-breakpoint-only(tablet) {
    flex-shrink: 0;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    width: $tablet-column-width * 2;
  }
}

.product-card__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 26px 26px 0;
  border: 1px solid $border-color;
}

.product-card__link {
  margin-bottom: 5px;
  text-decoration: none;
  outline: none;
}

.product-card__title {
  margin: 0;
  font-weight: 700;
  color: #000000;

  @include media-breakpoint-only(mobile) {
    font-size: 17px;
  }

  @include media-breakpoint-up(tablet) {
    font-size: 20px;
  }

}

.product-card__features {
  line-height: 30px;

  @include media-breakpoint-only(mobile) {
    font-size: 13px;
  }

  @include media-breakpoint-up(tablet) {
    font-size: 15px;
  }

  @include media-breakpoint-down(tablet) {
    margin: 0 0 19px 0;
  }

  @include media-breakpoint-up(desktop) {
    margin: 0 0 14px 0;
  }

}

.product-card__offer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 21px 0 27px;
  border-top: 1px solid $border-color;

  @media (min-width: $tablet) {
    margin-top: auto;
  }
}

.product-card__price {
  color: #000000;

  @include media-breakpoint-only(mobile) {
    font-size: 15px;
  }

  @include media-breakpoint-up(tablet) {
    font-size: 17px;
  }
}

.product-card__button {
  position: absolute;
  right: 0;
  padding: 20px 30px;
  outline: none;
}

.product-card__cart-icon {
  display: block;
  opacity: 0.2;
}

.product-card__button:hover .product-card__cart-icon,
.product-card__button:focus .product-card__cart-icon {
  fill: $color-primary;
  opacity: 1;
}

.product-card__button:active .product-card__cart-icon {
  opacity: 0.3;
}
