.promo-catalog {
  @media (min-width: $tablet) {
    position: relative;
  }
}

.promo-catalog__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    max-width: $tablet-max-width;
    padding-left: $side-paddings-tablet;
    padding-right: $side-paddings-tablet;
  }

  @media (min-width: $desktop) {
    max-width: $desktop-max-width;
    padding-left: $side-paddings-desktop;
    padding-right: $side-paddings-desktop;
  }
}

.promo-catalog__item {
  display: block;
  transition: 0.15s;
  background-color: #56c3b2;

  @media (min-width: $tablet) {
    flex-basis: 300px;
    flex-grow: 1;
  }
}

.promo-catalog__item--darker {
  background-color: $color-primary;
}

.promo-catalog__item:hover,
.promo-catalog__item:focus-within {
  padding-bottom: 5px;
  margin-top: -5px;
}

.promo-catalog__link {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 103px;
  margin: 0 auto;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  outline: none;

  @media (max-width: $mobile-only) {
    max-width: $mobile-max-width;
    padding: 24px 100px 24px $side-paddings-mobile;
    font-size: 19px;
    line-height: 24px;
  }

  @media (min-width: $tablet) {
    height: 100%;
    padding-left: 36px;
    padding-right: 100px;
    padding-top: 28px;
    padding-bottom: 31px;
    font-size: 20px;
    line-height: 30px;
  }
}

.promo-catalog__icon-container {
  position: absolute;
  display: flex;
  width: 60px;
  height: 62px;

  @media (max-width: $mobile-only) {
    right: 28px;
    justify-content: center;
  }

  @media (min-width: $tablet) {
    right: 35px;
    justify-content: flex-end;
  }
}

.promo-catalog__link:active .promo-catalog__icon-container {
  opacity: 0.3;
}

.promo-catalog__icon {

  fill: #149080;
  opacity: 0.5;
}

.promo-catalog__link:hover .promo-catalog__icon,
.promo-catalog__link:focus .promo-catalog__icon {
  opacity: 0.7;
}
