.promo-product {
  padding-top: 32px;
  padding-bottom: 36px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-size: auto 6px;
  background-repeat: repeat-x;
  background-position: 0 100%;
}








.promo-product__header {
  margin-bottom: 30px;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.promo-product__title {
  margin: 0;
}

.promo-product__subtitle {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: $color-primary;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    flex-basis: 0;
    text-align: center;
  }
}









.promo-product__inner {

  @media (min-width: $tablet) {
    position: relative;
    padding-right: 340px;
  }
}

.promo-product__text {
  margin: 0;
}

.promo-product__features {
  margin-top: 24px;
}

.promo-product__image-container {
  display: block;
  margin-top: 24px;

  @media (min-width: $tablet) {
    // position: absolute;
    // top: 0;
    // right: 0;
    // margin-top: 0;

  }

}

.promo-product__price {
  margin: 28px 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: $controls-color;
}

.promo-product__button {
  width: 100%;
}
