.reviews {
  padding-top: 32px;
  padding-bottom: 46px;
  // позже перенести на другой блок
  background-image: url("../img/bg-zigzag-line.svg");
  background-size: auto 6px;
  background-repeat: repeat-x;
  background-position: 0 100%;

  @media (min-width: $tablet) {
    position: relative;
    z-index: 0;
    padding-top: 80px;
    padding-bottom: 52px;
    background-image: url("../../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media (min-width: $desktop) {
    padding-bottom: 102px;
  }
}

.reviews__inner {
  @media (min-width: $desktop) {
    padding-left: $desktop-column-width;
  }
}

.reviews__title {
  @include media-breakpoint-only(mobile) {
    margin: 0 0 38px 0;
  }

  @media (min-width: $tablet) {
    max-width: calc(100% - 200px);
    margin: 0 0 64px 0;
  }
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reviews__one-review {
  margin: 0;
}

.reviews__review-text {
  line-height: 30px;

  @include media-breakpoint-only(mobile) {
    margin: 0 0 40px 0;
  }

  @include media-breakpoint-up(tablet) {
    margin: 0 0 68px 0;
  }
}

.reviews__author {
  display: block;
  font-style: normal;
}

.reviews__name {
  font-weight: 700;
}

.reviews__button-container {
  display: flex;
  margin: 36px 0 0;

  @media (min-width: $tablet) {
    position: absolute;
    bottom: 52px;
    right: $side-paddings-tablet;
    width: 175px;
  }

  @media (min-width: $desktop) {
    bottom: 102px;
    right: $side-paddings-desktop;
  }
}

.reviews__button--arrow {
  width: 50%;
}

.reviews__button--arrow:first-child {
  border-right: 0;
}

.reviews__button {
  @media (max-width: $mobile-only) {
    width: 100%;
    margin-top: 38px;
  }

  @media (min-width: $tablet) {
    position: absolute;
    z-index: 1;
    top: 80px;
    right: $side-paddings-tablet;
    width: 175px;
  }

  @media (min-width: $tablet) {
    right: $side-paddings-desktop;
  }
}
