.title {
  font-weight: 700;
  color: $title-color;
}

.title--1 {
  font-size: 27px;
  line-height: 30px;
}

.title--2 {
  font-size: 25px;
  line-height: 30px;
}

.title--3 {
  font-size: 18px;
  line-height: 30px;
}
