.title {
  font-weight: 700;
  color: $title-color;
}

.title--1 {
  @media (max-width: $mobile-only) {
    font-size: 27px;
    line-height: 30px;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop) {
    font-size: 53px;
    line-height: 57px;
  }
}

.title--2 {
  @media (max-width: $mobile-only) {
    font-size: 25px;
    line-height: 32px;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop) {
    font-size: 53px;
    line-height: 57px;
  }
}

.title--3 {
  font-size: 18px;
  line-height: 30px;
}
