.video__inner {
  border: 1px solid $border-color;
  word-break: break-word;

  @media (max-width: $mobile-only) {
    padding: 22px 33px 32px;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    display: flex;
    flex-direction: column;
    padding: 0 41px 46px;
  }

  @media (min-width: $desktop) {
    position: relative;
    padding: 46px 57px 59px 760px;
  }
}

.video__inner:hover,
.video__inner:focus-within {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.video__inner:active {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.video__image-container {
  @media (max-width: $mobile-only) {
    margin: 0 -34px 26px;
  }

  @media (max-width: $tablet-only) {
    position: relative;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    order: -1;
    margin: 0 -42px 37px;
    border-bottom: 1px solid $border-color;
  }

  @media (min-width: $desktop) {
    position: absolute;
    left: -1px;
    top: -1px;
    width: 682px;
  }
}

.video__image {
  display: block;
}

.video__button-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  transition: 0.15s;
  outline: none;
}

.video__button-play:hover,
.video__button-play:focus {
  transform: translate(-50%, -50%) scale(1.2);
}

.video__button-play:active {
  transform: translate(-50%, -50%);
  opacity: 0.3;
}

.video__header-container {
  display: flex;

  @media (max-width: $mobile-only) {
    margin-bottom: 25px;
  }

  @media (max-width: $tablet-only) {
    align-items: center;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    margin-bottom: 32px;
  }

  @media (min-width: $desktop) {
    flex-direction: column;
    margin-bottom: 33px;
  }
}

.video__title {
  margin: 0;
  line-height: 24px;
  color: #000000;

  @media (max-width: $mobile-only) {
    font-size: 17px;
  }

  @media (min-width: $tablet) {
    font-size: 20px;
  }
}

.video__header-icon {
  flex-shrink: 0;
  fill: $color-primary;

  @media (max-width: $mobile-only) {
    margin-right: 24px;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    margin-right: 32px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 27px;
  }
}

.video__text {
  @media (max-width: $mobile-only) {
    margin: 0 0 25px 0;
    font-size: 13px;
  }

  @media (min-width: $tablet) {
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    margin: 0 0 35px 0;
  }

  @media (min-width: $desktop) {
    margin: 0 0 46px 0;
  }
}

.video__button-icon {
  display: block;
}

.video__button-order {
  width: 100%;
}
