.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__link {
  position: relative;
  display: block;
  padding: 31px 16px 31px 76px;
  font-size: 17px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  border-top: 1px solid #ececec;
}

.main-nav__icon {
  position: absolute;
  left: 32px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.2;
}

.main-nav__link:hover .main-nav__icon,
.main-nav__link:focus .main-nav__icon {
  fill: #63d1bb;
  opacity: 1;
}

.main-nav__link:focus .main-nav__icon {
  opacity: 0.3;
}
